@import "tailwindcss";

/* globals.css */
.bg-grid {
  background-image:
    linear-gradient(to right, #252525 1px, transparent 1px),
    linear-gradient(to bottom, #252525 1px, transparent 1px);
  background-size: 40px 40px; /* size of each grid square */
}

.graybg{
  background-color: #111;
}
.cardgraybg{
  background-color: #22222290;  
}

.cardgraybghoverhover:hover{
  background-color: #333333;  
}





/* Chrome, Edge, Safari */
.chat-container::-webkit-scrollbar {
  width: 8px;       /* width of scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background: #1a1a1a;  /* track background */
  border-radius: 10px;   /* rounded track */
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #333; /* thumb color */
  border-radius: 10px;       /* rounded thumb */
  border: 2px solid #1a1a1a; /* optional padding around thumb */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* hover color */
}
